/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    height: 100vh;
    background: rgb(180, 58, 236);
    font-family: 'Poppins', sans-serif;
    color: #363636;
}


/*main*/
.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container {
    height: 800px;
    background: #FFF;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    justify-content: center;
    border-radius: 10px;
}
/*título*/
.controle {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

/*saldo*/

.saldo{
    margin-bottom: 30px;
}

.saldo h2{
    font-size: 1.4rem ;
    text-transform: uppercase;
    font-weight: 500;
}

.saldo p {
    font-size: 2.3rem;
    color: rgb(94, 169, 255);
}

/*receitas e despesas*/
.rd-container {
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 1px 0px rgb(218, 218, 218);
    height: 80px;
    background: rgb(255, 255, 255);
    text-transform: uppercase;
    margin-bottom: 30px;
}

.rd-container p {
    font-size: 1.4rem;
}

.receitas {
    border-right: 1px solid rgb(236, 236, 236);
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rd-container h3 {
    font-weight: 500;
}

.receitas p {
    color: rgb(102, 180, 102);
}

.despesas p {
    color: rgb(236, 124, 124);
}

.despesas {
    border-left: 1px solid rgb(236, 236, 236);
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*transações*/
.tr h3{
    font-size: 1.4rem;
}
.separador {
    padding-bottom: 10px;
}
.separador::after {
    content: "";
    display: block;
    background: rgb(214, 214, 214);
    width: 100%;
    height: 1px;
    margin-top: 20px;
}
.add-tr{
    margin-top: 30px;
}

.lista {
    overflow-y:auto;
    max-height: 130px;
    background: rgb(231, 231, 231);
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.2);
}
.lista ul {
    list-style: none;
    padding: 0 10px ;
}
.lista li {
    margin: 10px 0;
    background-color: #FFF;
    height: 40px;
    box-shadow: 3px 3px 13px 0 rgba(44,44,44,0.15);
}

.lista::-webkit-scrollbar {
    width: 14px;
 }
   
.lista::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}
   
.lista::-webkit-scrollbar-thumb {
    background-color: #a8a3da;
}
.item{
    display: flex;
    justify-content: space-between;
}
.tr-direita{
    display: flex;
}
.detalhe-lateral {
    height: 100%;
    width: 10px;
}
.green{
    background:rgb(102, 180, 102);
}
.red{
    background: rgb(236, 124, 124);
}
.tr-direita p{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.tr-esquerda{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.desativa {
    display: none;
}
.botao-li{
    display: flex;
    color: rgb(153, 145, 219);
    position: relative;
    top: -10px;
    left: -5px;
    background: #cccc;
    font-size: 0.7rem;
    cursor: pointer;
    padding: 0 5px;
    box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.2);
    margin-right: 10px;
    border-radius: 50%;
}

.botao-li:hover {
    background: rgba(184, 182, 182, 0.8);
    font-size: 0.78rem;
}



/*formulário*/
form {
    display: flex;
    flex-direction: column;
}
form input {
    margin-top: 8px;
    height: 40px;
    padding: 10px;
    outline-color: rgb(167, 200, 243);
    border: 1px solid #e9e9e9;
    box-shadow: 2px 2px 1px 0px rgb(218, 218, 218);
}

.add-tr{
    margin-bottom: 15px;
}

#nome-in{
    margin-bottom: 20px;
}
.btn {
    margin-top: 8px;
    height: 40px;
    background:rgb(153, 145, 219);
    cursor: pointer;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    transition: all 0.3s ease;
    box-shadow:  2px 2px 0px rgb(218, 218, 218);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}
.btn:hover{
    background:rgb(168, 163, 218);
    font-size: 0.87rem;
}


